# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GeekBrains-Patterns.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\MyRepos\GeekBrains-Patterns\.idea\.idea.GeekBrains-Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
